@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject CookieConsentJsInterop CookieConsentJsInterop
@inject NavigationManager NavigationManager

<Modal class="cookie-consent-modal" @ref="modal" Title="Cookies & Privacy" UseStaticBackdrop="true" CloseOnEscape="false" IsVerticallyCentered="@_cookieConsentAccessor.Options.ModalVerticallyCentered">
    <BodyTemplate>
        <div class="row cookie-consent-modal-body">
            <div class="col-2">
                <img src="_content/CookieConsent.Razor.Net/img/cookie-consent-logo.png" class="img-fluid" />
            </div>
            <div class="col-10">
                <span class="align-middle">
                    @_cookieConsentAccessor.Options.ModalTitle
                    @if (!string.IsNullOrEmpty(_cookieConsentAccessor.Options.PrivacyPolicyUrl))
                    {
                        @:&nbsp;
                        <a href="@_cookieConsentAccessor.Options.PrivacyPolicyUrl" target="_blank">Learn More</a>
                    }
                </span>
            </div>
        </div>
        <br />
        <Accordion class="cookie-consent-modal-accordion">
            <CookieCategoryAccordionItem Title="@_cookieConsentAccessor.Options.FunctionalCookies.Title" Cookies="@_cookieConsentAccessor.Options.FunctionalCookies.Cookies" IsEnabled="true" Disabled="true"></CookieCategoryAccordionItem>
            <CookieCategoryAccordionItem Title="@_cookieConsentAccessor.Options.MarketingCookies.Title" Cookies="@_cookieConsentAccessor.Options.MarketingCookies.Cookies" @bind-IsEnabled="@_cookieConsentAccessor.MarketingEnabled"></CookieCategoryAccordionItem>
            <CookieCategoryAccordionItem Title="@_cookieConsentAccessor.Options.PreferencesCookies.Title" Cookies="@_cookieConsentAccessor.Options.PreferencesCookies.Cookies" IsEnabled="@_cookieConsentAccessor.PreferencesEnabled"></CookieCategoryAccordionItem>
            <CookieCategoryAccordionItem Title="@_cookieConsentAccessor.Options.AnalyticsCookies.Title" Cookies="@_cookieConsentAccessor.Options.AnalyticsCookies.Cookies" IsEnabled="@_cookieConsentAccessor.AnalyticsEnabled"></CookieCategoryAccordionItem>
        </Accordion>
    </BodyTemplate>
    <FooterTemplate>
        <div class="cookie-consent-modal-footer">
            <a href="#" class="link-secondary" @onclick="OnHideModalClick">@_cookieConsentAccessor.Options.RejectButtonText</a>&nbsp;&nbsp;&nbsp;
            <Button Color="ButtonColor.Primary" @onclick="OnConfirmClick">@_cookieConsentAccessor.Options.ConfirmButtonText</Button>
        </div>
    </FooterTemplate>
</Modal>

@code {

    private Modal modal = default!;

    [Inject]
    CookieConsentAccessor _cookieConsentAccessor { get; set; }

    public async Task ShowModal()
    {
        await modal.ShowAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _cookieConsentAccessor.ShowBanner)
        {
            await modal.ShowAsync();
        }
    }

    public async Task OnConfirmClick()
    {
        await CookieConsentJsInterop.Accept(_cookieConsentAccessor.MarketingEnabled, _cookieConsentAccessor.AnalyticsEnabled, _cookieConsentAccessor.PreferencesEnabled);
        await modal.HideAsync();

        RefreshIfNeedeed();
    }

    private async Task OnHideModalClick()
    {
        await CookieConsentJsInterop.Deny();
        await modal.HideAsync();

        RefreshIfNeedeed();
    }

    private void RefreshIfNeedeed()
    {
        if (_cookieConsentAccessor.Options.ReloadPageOnUserActions)
        {
            NavigationManager.Refresh(true);
        }
    }
}
